.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption {
    color: #fff;
    text-align: center;
}

/*Sets proper contrast between font and carousel images (Wave complained) */
.contrast{
  background-color:#343a40;
}