/*Individual css*/
#seo-img{
	height: 95%;
	width: 90%;
}
#meta-description{
	height: 65%;
	width: 65%;
	margin-left: 20%;
}

/*More contrast between text and background (Wave complained */
a {
	color: darkblue;
  }

a:hover{
color: brown;
}
